* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input, button {
    margin: 10px 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    display: inline-block;
    
}

input{
    width: 23rem;
}

button {
    background-color: #242568;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

canvas {
    background-color: #f9f9f9;
    border: 2px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    display: block;
}

footer {
    margin-top: 20px;
    font-size: 14px;
    color: #555;
}
